
/* Start with general page based style info for web-app with forward/backward style pages navigation */

/* Color schemes */
.purpletext {color: #AF90B2;} /*rgba(175, 144, 178, 1.0);*/
.purplemedium {color: #8F3E98;} /*rgb(143, 62, 152);*/
.purpledark {color: #632468;} /*rgb(99, 36, 104);*/


html {
    height: 100%;
	
	border: none;
	padding: 0;
	margin: 0;
}

/*html#main {
	background:url("../images/background1.png") no-repeat top center fixed #632468;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}*/

body {
    font-family: "Century Gothic", serif;	
	border: none;
	padding: 0;
	margin: 0;
/*
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #fff;
    overflow: hidden;
    position: relative;
*/
}

.header {
    background: #CC0000;
    -webkit-background-size: 1px 44px;
    -moz-background-size: 1px 44px;
    -ms-background-size: 1px 44px;
    -o-background-size: 1px 44px;
    background-size: 1px 44px;
    height: 44px;
    line-height: 44px; 
    width: 100%;
    color: #fff;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    border-bottom: solid 1px #eee;
}

.header h1 {
    padding: 0;
    text-align: center;
    /*font-size: 24px; */
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.header-button {
    position: absolute;
    top: 6;
    padding: .7rem .5rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* line-height: 1em;  */
}

.header-button-left {
    position: absolute;
    left: 4;
}




/* Narrative/Form style elements for presenting and gathering information  */



html {
    height: 100%;
    font-size: 62.5%; /* 10px with default settings */
    margin: 0;
    padding: 0;
}   

body {		
    margin: 0;	
    height: 100%;
    width: 100%; /* width needed for Firefox */
	border: none;
	/*background-color: #FFFFFF;    */
}



.page {		
    margin: 0;
    height: 100%;
    
    display: -webkit-box; display: -moz-box; /* old flexbox */
    display: -ms-flexbox; /* middle-aged flexbox, IE 10 */
    display: -webkit-flex; 
    display: flex;
    
    -webkit-box-orient: vertical; -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-pack: start; -moz-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: start;
    justify-content: start;
}




/*.page-heading {display: none;}*/
.page-heading {
	color: #AF90B2;
	background:none;
}

.page-heading {
	
    margin: 0;
    
    display: -webkit-box; display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center; -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-box-pack: center; -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
	/*opacity:0.4;
	filter:alpha(opacity=40);*/ /* For IE8 and earlier */
	
    /*background-color: #CC0000;*/
    font-family: "Century Gothic", serif;
    font-size: 3rem; /* font shorthand doesn't work with rem in IE10 */
    /*color: white;
	color:black;*/
    padding: 1.5rem;
 
    text-shadow: 0.2rem 0.2rem 0.8rem rgba(0,0,0, .4);   
    
}

.page-body {		
    margin: 0;
        
    display: -webkit-box; display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-align: center; -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-box-pack: center; -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    -webkit-box-flex: 1; -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    
    /*background:none;*/
    /*background-color: #FFFFFF;*/
    
}

.kiaora {
	background-image:url('../images/background_kiaora.png');
	background-repeat:no-repeat;
	background-color:#632468;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
   
    padding: 1rem 3rem; 
    
    /*color: white;*/    
	font-family: "Century Gothic", serif;
    /*font-family: "Roboto", "Century Gothic Regular", helvetica, sans-serif;*/
    font-size: 3rem; /* font shorthand doesn't work with rem in IE10 */
	
}

div.box {		
	background-repeat:no-repeat;
	background-color:#632468;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	font-family: "Century Gothic", serif;
    font-size: 3rem; /* font shorthand doesn't work with rem in IE10 */
	
	
	width: 100%;
	height: 100%;
	top: 0;
	right: 0; 
	left: 0;
	bottom: 0;
	position: absolute;
	
}

.consider  {
	background-image:url('../images/consider_background.png');
}

.final  {
	background-image:url('../images/credits-background.png');
}

.question-section, .static-discover-box {	
	width:70%; 
	margin: 10% auto; 
	text-align: center;
}

.finish {	
	width:70%; 
	margin: 15% auto; 
	text-align: center;
}

.question {
	margin-top: 20%;
}


/* splash-button unused */
button.splash-button, button.splash-button:enabled:active {
	position:absolute;
	left:0;
	top:0;
	background-color:transparent;
	width:100%;
	height:100%;
	border:none;
	
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

a.splash-link {
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:100;
}

div.top-left {
	position: absolute; 
	top:20%; 
	left:20%;
}
div.bottom-tabbed {
	position:absolute;
	top:70%;
	left:25%;
}
div.top-center {
	position:relative; 
	margin-top:20%;
	/*border: 2px solid white;*/
}

.splash  {
	background-image:url('../images/splashpage.png');
	background-repeat:no-repeat;
	background-color:#632468; /* If this line is taken out, then the white frame of the splash screen is seen */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.home-page {
	background-image:url('../images/background_home_browser.png');
	background-repeat:no-repeat;
	background-color:#632468;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}
#whats-your-name {
	/*position:relative;
	left: -31%;
	top:-8%;*/
	position:absolute;
	left: 5%;
	top:35%;
	height: 15%;
}	

.answer {	
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	
	border:none; 
	width:205px;
	height:205px;
	
	/*position:absolute;	
	top:88%; 
	left:3.5%;*/
	/*margin-left: 4%;
	margin-bottom: 7%;*/
}


/* Forward button */
button.forward-button {
	background-image:url("../images/forwardbutton.png");
	/*background-repeat:no-repeat;*/
	background-color:transparent;
	background-size:100% 100%;
	
	border:none;
	width: 116px;	
	height: 162px;
	
	position:absolute;	
	right:5%;
	bottom:5%;
}

button.forward-button, button.forward-button:enabled:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

button.forward-button:active {
	background-image:url('../images/clicked-forward-swirly.png');
}


/* http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html */
button.answer, button.answer:enabled:active {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

button.answer-true {
	background-image:url('../images/white-true.png');
}

button.answer-true:active {
	background-image:url('../images/clicked-white-true.png');
}

button.answer-false {
	background-image:url('../images/purple-false.png');
}

button.answer-false:active {
	background-image:url('../images/clicked-purple-false.png');
}

button.answer-any {
	background-image:url('../images/white-anyone.png');
}

button.answer-any:active {
	background-image:url('../images/clicked-white-anyone.png');
}

button.answer-none {
	background-image:url('../images/purple-not-me.png');
}

button.answer-none:active {
	background-image:url('../images/clicked-purple-not-me.png');
}

.question-button {
	position:relative;	
	width: 277px;
	height: 258px;
}

#question-title {
	background-image:url('../images/what-do-you-make-of-this.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	
	border:none; 
	width:275px;
	height:166px;
	position: absolute;
	top: 4%;
	left: 4%;
}


.page-inset {
	margin-top:200px;

	width: 75%;
    /*width: 500px;*/
    height: 350px;
    
    display: -webkit-box; display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-orient: vertical; -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-align: center; -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    -webkit-box-pack: center; -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    align-items: center;
    
    padding: 1rem 3rem;
    
	background: none;
	/*color: #AF90B2; purpletext: rgba(175, 144, 178, 1.0);*/
    /*background-color: rgba(200, 200, 200, .9);
    color: white;*/
    
    font-family: "Century Gothic", serif;
    font-size: 3rem; /* font shorthand doesn't work with rem in IE10 */
    text-shadow: 0 0 1.2rem rgba(0,0,0, .4);
    
	/*
    -moz-box-box-shadow: 0.3rem 0.3rem 0.3rem 0.2rem #909090;
    -webkit-box-shadow:  0.3rem 0.3rem 0.3rem 0.2rem #909090;
    box-shadow:          0.3rem 0.3rem 0.3rem 0.2rem #909090;
    
    border-radius: .5rem;*/
}

.page-inset.purple { color: #AF90B2; }


#info-page {
	position: relative;	
	margin:0;
	border: 0px;
	height: 100%;
	background-color:#642261; /* dark purple instead of dark violet */	
	/*padding: 2%;*/
}

/* don't add padding to body of innovation-story.html. It gets added TO the width. */
iframe {
position: relative;
width: 100%;
height: 100%;
border: 0px; /* stops the unnecessary tiny bit of horizontal scrolling in iframe */
overflow:scroll;
/*scrolling:no;*/
margin: 0;
background-color:none;
}

/*http://stackoverflow.com/questions/65034/remove-border-from-iframe 
frameBorder:0;
hspace: 0; vspace:0; marginheight: 0; marginwidth: 0;
seamless: seamless;
*/

html#story {	
	background:url("../images/background_kiaora.png") no-repeat top center fixed #632468; /* background:url("../images/background3.png") no-repeat center center fixed;*/ /* #632468 */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	height: 100%;
	color: white; 
}

html#story-final {	
	background:url("../images/consider_background.png") no-repeat top center fixed #632468; /* background:url("../images/background3.png") no-repeat center center fixed;*/ /* #632468 */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
	height: 100%;
	color:#632468;
}


.flex-stretch {
    -webkit-box-flex: 1; -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}


#static-info-page a {text-decoration: none;}
#static-info-page a:link    {color:#cfa1cd;}
#static-info-page a:visited {color:#95348b;}
#static-info-page a:hover   {color:white;}/*#dbbcda*/
#static-info-page a:active  {color:white;} 

#enter-name, #enter-email {   
	position:absolute;
	left:10%; /*left:11.7%;*/
	top:50%;/*top:46.7%;*/
	width: 79.2%;/*width: 79.5; 77.5%;*/
	height: 12%; /*no height for app*/
	color:white;
	background-color: #95348b; /*background:none; for app*/
	font-size: 5rem;	
	border:none;
}

/* http://www.smashingmagazine.com/2010/07/19/how-to-use-css3-media-queries-to-create-a-mobile-version-of-your-website/ 
http://www.javascriptkit.com/dhtmltutors/cssmediaqueries2.shtml :  width vs device-width 
http://protofluid.com/ and http://protofluid.com/?c=mediaQueries 
http://www.w3avenue.com/2010/05/12/protofluid-website-layout-testing-for-various-devices/ 
Need to run fieldays app on a local server, such as public_html then visit the protofluid.com site
Press the link labelled "URL" at the top right, paste in http://www.cs.waikato.ac.nz/~anupama/fieldays 
and then keep clicking > button on top left until on the top-right it says 480 (px) for width. */
@media only screen and (max-device-width: 1280px) { /*480px*/
	.home-page {
		background-image:url('../images/background_home.png');
	}
	#whats-your-name {
		display:none;
	}

	#enter-name, #enter-email {   
		position:absolute;
		top:48.5%;/*top:46.7%;*/
		/*left:10%;*/		
		width: 79.5%;
		height: 10%; /*no height for app*/		
		background:none;
		
	}
}

.vstretchy-centered {		
    margin: 0;
        
    display: -webkit-box; display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical; -moz-box-orient: vertical;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    
    -webkit-box-align: center; -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
    -webkit-box-pack: center; -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    
    -webkit-box-flex: 1; -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;    
}

/* Exploring buttons */
button.exploring {
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	
	border:none; 
	
	/*position:absolute;	
	top:88%; 
	left:3.5%;*/
	/*margin-left: 4%;
	margin-bottom: 7%;*/
	width:514px;
	height:63px;		
}
button.continue-exploring {     
	background-image:url('../images/continueexploringbutton.png');	
}
button.start-exploring {
	background-image:url('../images/startexploringbutton.png');	
}
button.consider {
	background-image:url('../images/nowconsiderbutton.png');	
}
/* End exploring buttons */

button.start {     
	background-image:url('../images/enter_enabled.png');
	background-repeat:no-repeat;
	background-color:transparent;
	background-size:100% 100%;
	
	border:none; /*border:2px solid white;*/
	position:absolute;
	
	top:71%; 
	left:36.5%;
	width:27%;
	height:14%;	
}

button.start:disabled {
    /*width: 200px; width:  220px;  */    
	background-image:url('../images/enter_disabled.png');
	
}

.discover {
	position:relative;
    /*width:  260px;*/
	width: 514px;
	height: 63px;	
}
.start-exploring {
	top:70%;
	left:30%;
	
	background-image:url('../images/startexploringbutton.png');
}
.continue-exploring {
	background-image:url('../images/continueexploringbutton.png');
}

/* http://phonegap-tips.com/articles/essential-phonegap-css-webkit-tap-highlight-color.html */
button, button:enabled:active {
	/*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
	/*-webkit-tap-highlight-color: transparent;*/ /* For some Androids */
}

/*button.round, button.square, button.square:enabled:active {
	font-size:4rem;

    text-align: center;
    text-decoration: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}*/

button.purple {
	color:white;/*#AF90B2;*/
	background-color:#8F3E98;
	border: none;
}

/*
button.square:disabled {
    border:3px solid #8F3E98;
}
button.square:enabled:active {
	border:3px solid white;   
}
button.purple.square:disabled {
	color:#8F3E98;
	background-color:#632468;   
}
button.purple.square:enabled:active {
	color:white;
	background-color:#8F3E98;   
}*/


button.round:disabled{
    background:#c2b0b0;
    border:1px solid #c2b0b0;
    /*reduce the size of the shadow to give a pushed effect*/
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
    box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

button.round:enabled:active{
    background:#c20b0b;
    border:1px solid #c20b0b;
    /*reduce the size of the shadow to give a pushed effect*/

    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
    box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}



hr.fade-in {
    border: 0;
    height: 2px;
    width: 100%;

    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}


hr.inset {
    height: 6px;
    width: 100%;
    border: 0;
    box-shadow: inset 0 6px 6px -6px black;
}


.narrative {
    background: #ccc;
    height: 32px;
    padding-left:6px;
    padding-right: 6px;
    padding-top: 6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #666;
}



/* Application specific CSS */

.search-bar {
    background: #ccc;
    height: 32px;
    padding-left:6px;
    padding-right: 6px;
    padding-top: 6px;
    margin-bottom: 6px;
    border-bottom: solid 1px #666;
}




input[type="search"] {
    width:100%;
	border: none;
	border-radius: 4px;
	padding: 4px 0px 2px 2px;
	margin-top: 0px;
	font-size: 16px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,.5), 0 1px #fff;
	background: #eee;
    -webkit-appearance:none;	
}

input[type="search"]:focus {
	outline: none;
	box-shadow: inset 0 4px 8px rgba(0,0,0,.5), 0 1px #fff;
}

input.purple {
	background-color: #8F3E98; 
	color:white; 
	border: 0px solid;
	height:6rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fafafa;
    border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #c0c0c0;
    padding: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}

li {
    display: block;
    border-top: 1px solid #e0e0e0;
    padding: 10px;
}

li {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    width: 100%;
}

li>a {
    color: #000;
    display: block;
    padding: 5px;
    text-decoration: none;
    width: 100%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-position: -10px 0;
    background-repeat: no-repeat;
    -webkit-background-size: 10px 100%;
    -moz-background-size: 10px 100%;
    -ms-background-size: 10px 100%;
    -o-background-size: 10px 100%;
    background-size: 10px 100%;
}

li>a * {
    pointer-events: none;
}

.button  {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #dcdcdc;
	display:inline-block;
	/*color:#CC0000;*/ 
	color: #632468;
	font-size:3rem;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;

}

h1 {
    font-size: 4rem;
    padding: 20 0 0 0;
    margin: 0px;
}

h2 {
    font-size: 3rem;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

.scroll {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 84px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

li>a.tappable-active {
    color: #fff;
    background-color: #4286f5; /* !!!! */
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform:translate3d(0,0,0);
}

.stage-center {
    top: 0;
    left: 0;
}

.stage-left {
    left: -100%;
}

.stage-right {
    left: 100%;
}

.transition {
    -moz-transition-duration: .375s;
    -webkit-transition-duration: .375s;
    -o-transition-duration: .375s;
}